.hero-links{
    background-color: rgb(44, 40, 40);
    padding: 5px;
    color: white;
    width: 150px;
    border: 1px solid black;
}

.search {
    margin-top: 50px;
    text-align: center;
    padding: 20px;
    height: 450px;
    border-radius: 5px;
    background-color:rgb(44, 40, 40);
}

h3, .redirect-descr{
    text-decoration: none;
    color: coral;
}